.line-chart-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:24px 32px;
    flex:2;
    border-radius: 16px;
    margin-top:20px;
    position: relative;
    background-color: var(--light);
    border:1px solid var(--light-border);
    margin-right:24px;
}
.line-chart-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 32px;
}
.line-chart-header > p{
    font-weight: bold;
    color: var(--font-color-light);
    margin-right: 20px;
}
.chart-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.date-interval-container{
    margin-left:auto;
    display: flex;
    flex-direction: row;
    color:var(--font-color-light);
    align-items:center
}
.date-interval-container input{
    padding:8px;
    border:1px solid var(--light-border);
    border-radius:8px;
    color:var(--font-color-light);
    font-family: 'Gilroy';

}
.date-interval-container p{
    color:var(--font-color-light);
    margin: 0px 16px
}

.check-option-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;
    margin-left: 30px;
}
.check-option-container p{
    font-weight: bold;
    color:var(--font-color-light);
    margin-left:12px;
}
/* Effects  */

.line-chart-container:hover{
    box-shadow: 1px 1px 1px  #dddddd;
}
