.bars-chart-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:24px 56px;
    flex:1;
    border-radius: 16px;
    margin-top:20px;
    height:300px;
    cursor: pointer;
}
.bars-chart-container:hover{
    box-shadow: 1px 1px 1px  #dddddd;
}
.bars-chart-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
}
.bars-chart-header p{
    font-size: 16px;
    font-weight: bold;
    font-family:'Gilroy'
}
.bars-legend{
    display: flex;
    flex-direction: row;
}

.bars-legend>.box:nth-child(1) {
    width: 24px;
    height: 24px;
    border-radius:6px;
    margin-right: 12px;
    background-color:#3471db
}

.bars-legend>.box:nth-child(3) {
    width: 24px;
    height: 24px;
    border-radius:6px;
    margin-right: 12px;
    background-color:#25bb84;
    margin-left: 24px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.bars{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.bar-women{
    background-color:#3471db;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    height:0px;
    width: 24px;
    transition: height 2s;
}
.bar-man{
    background-color: #25bb84;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height:0px;
    width: 24px;
    transition: height 2s;
}
.grid{
    height:80px;
    width:64px;
}
.bars-container{
    margin-top: auto;
    display:block; 
    position: absolute;    
    z-index:2;  
}
.grids{
    display: flex;
    flex-direction: row;
}

.x-ticks{
    display: flex;
    flex-direction: row;
    margin-left:56px;
    margin-top:20px;

}
.x-ticks label{
    font-size:16px;
    font-weight: normal;
    width:68px;
    margin:auto;
    text-align: center;
}
.y-ticks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
}
.y-ticks-darker>.tick{
    height: 80px;
    width: 12px;
}
.tick{
    height: 80px;
    width: 12px;
}
.tick-label{
    height:90px;
    width: 48px;
}
.tick-label:last-child{
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tick-label p{
    font-family: 'Gilroy';
    font-size:16px;
}