.search-input-container{
    margin-right: 30px;
    border:1px solid var(--light-border);
    border-radius: 16px;
    padding:12px;
    background-color:var(--light)
    
}
.search-input-container input{
    border:0px;
    margin-left: 24px;
}