.sidemenu-container{
    width:36px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    padding:36px 23px;
    flex-direction: column;
}

.sidemenu-icon{
    height:32px;
    width:51px;
    margin-bottom: 90px;
}

.sidemenu-option{
    margin-bottom: 40px;
}
.sidemenu-option svg:hover{
    box-shadow: 0px 0px 3px  #dddddd;
    border-radius: 12px;
    height:24px;
    width: 32px;
    padding: 4px;
    transform: scale(1.2);
}

.mode-switcher-container{
    background-color: white;
    width:36px;
    padding:2px;
    margin-bottom: 36px;
    border-radius: 12px;
    border:2px solid var(--light-border);
    cursor: pointer;
    transition:background-color 1s;
}
.switcher:hover{
    box-shadow: 1px 1px 1px #dddddd;
}
.switcher{
    background-color: #25bb84;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:20px;
    width: 20px;
    border-radius:12px;
    transition:margin-left 0.5s, margin-right 0.5s;
}