.sidemenu-container{
    width:36px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    padding:36px 23px;
    flex-direction: column;
}

.sidemenu-icon{
    height:32px;
    width:51px;
    margin-bottom: 90px;
}

.sidemenu-option{
    margin-bottom: 40px;
}

.mode-switcher-container{
    background-color: white;
    width:48px;
    padding:4px;
    border-radius: 12px;
    border:2px solid var(--light-border);
    cursor: pointer;
    margin-top:auto;
    transition:background-color 1s;
}
.switcher:hover{
    box-shadow: 1px 1px 1px 1px #BBBBBB;
}
.switcher{
    background-color: #7F7FD5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:20px;
    width: 20px;
    border-radius:12px;
    transition:margin-left 0.5s, margin-right 0.5s;
}