:root{
  --primary-color:black;
  --font-color-light:#4F4F4F;
  --light-bg:#EFF3F9;
  --light:#FDFDFF;
  --light-border:#EBEBEB;
  --font-color-label-light:#979797;
}
.main{
  display:flex;
  flex-direction: row;
  flex:1;
  background-color: var(--light-bg);
}
body{
  margin: 0px;
}
p{
  font-family: 'Gilroy';
  margin:0px;
}
.row{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.data-container{
  padding:50px;
  width: 100%;
}
.data-container > .row > p{
  margin-right: 60px;
  font-family: 'Gilroy';
  color:var(--font-color-light)
}

/*  Font reference */
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./assets/fonts/Gilroy-Light.otf) format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./assets/fonts/Gilroy-ExtraBold.otf) format('opentype');
  font-weight: bold;
}