.user-profile-container{
        display: flex;
        flex-direction: row;
        height:50px;
        margin-left: auto;
        align-items: center;
        justify-content: space-around;
        width: 200px;
}
.user-profile-container p{
    font-weight: bold;
    font-size: 18px;
    color:var(--font-color-light)
}
.user-profile-container img{
    border-radius: 36px;
    height:72px;
    width: 72px;
    object-fit: cover;
    
}
.user-profile-container img:hover{
    transform:scale(1.1);
    cursor:pointer;
    border:0px 0px 4px #AAAAAA;
}